/build
.DS_Store
build/
/.vscode
**/.DS_Store
**/*build*/
.venv/
data/
data_storage/
*.pyc
src/start_station_heatmap.html

//latex auxiliary files
*.aux
*.lof
*.log
*.lot
*.fls
*.out
*.toc
*.fmt
*.fot
*.cb
*.synctex.gz
*.fdb_latexmk

//Frontend modules
node_modules/
/src/frontend/dist
.github/prompts/plan-polarsParquetStrategy.prompt.md
CLAUDE.md